#customers{
    position: relative;
    padding: 60px 0;
    .item{
        box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
        .wrapper{
            margin-top: 70px;
            img{
                position: absolute;
                left: 50%;
                bottom: 50%;
                transform: translate(-50% , -50%);
                height: 90px;
                width: 90px;
                border: 1px solid $mainWatergreen;
                border-radius: 5px;
            }
            .content{
                padding: 41px 25px 25px 25px;
                text-align: center;
                h3{
                    font-size: 18px;
                    color: $mainWatergreen;
                }
                span{

                }
            }
        }
    }
    .owl-carousel button.owl-dot span{
        height: 5px;
        width: 20px;
        background-color: black;
        display: block;
        margin: 0 7px;
        border-radius: 5px;
        transition: all .5s ease;
    }
    .owl-carousel button.owl-dot.active span{
        background-color: $mainWatergreen;
        width: 30px;
    }
    .owl-dots{
        text-align: center;
        margin-top: 15px;
    }
    .owl-carousel .owl-stage-outer{
        padding: 15px 0;
    }
}
@media (max-width: 1199.98px){
    #customers .item .wrapper .content p{
        font-size: 14px;
    }
}
@media (max-width: 991.98px){
    #customers .item .wrapper .content p{
        font-size: 11px;
    }
}