#form{
    padding: 60px 0;
    .contact-form{
        box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
        padding: 50px;
        form{
            .form-group{
                margin-bottom: 20px;
                input{
                    width: 100%;
                    height: 50px;
                    color: #121521;
                    border: 1px solid #e8e8e8;
                    background-color: #f2f9fc;
                    border-radius: 0;
                    font-size: 14px;
                    padding: 10px 20px;
                }
                textarea{
                    width: 100%;
                    color: #121521;
                    border: 1px solid #e8e8e8;
                    background-color: #f2f9fc;
                    border-radius: 0;
                    font-size: 14px;
                    padding: 10px 20px;
                    height: auto;
                }
                .btn{
                    text-decoration: none;
                    color: white;
                    background: #0aceb7;
                    padding: 0px 40px;
                    border-radius: 6px;
                    width: auto;
                }
                p{
                    margin: 0;
                    color: red;
                    font-weight: bold;
                    margin-top: 6px;
                    font-size: 14px;
                    padding-left: 6px;
                }
            }
        }
    }
}
@media (max-width: 575.98px){
    #form .contact-form form .form-group input{
        font-size: 10px;
        height: 37px;
    }
    #form .contact-form form .form-group textarea{
        font-size: 10px;
    }
    #form .contact-form form .form-group .btn{
        padding: 0 25px;
    }
}