#subscribeNow{
    padding: 40px 0;
    background-color: #eff5f5;
    .content{
        margin-bottom: 10px;
        h2{
            font-size: 40px;
        }
        p{
            color: #545454;
            margin: 0;
        }
    }
    .email{
        input{
            width: calc(100% - 100px);
            height: 50px;
            font-size: 14px;
            padding: 10px 20px;
            border-radius: 5px 0px 0px 5px;
            border-color: #f6f6f6;
            background: white;
            border: none;
            border: 1px solid #e8e8e8;
        }
        .btn{
            transition: all .3s ease;
            width: 150px;
            background: #0aceb7;
            border-radius: 0 5px 5px 0;
            transition: all 0.3s ease;
            color: #fff;

            &:hover {
                background: black;
                color: $mainWatergreen;
            }
        }
    }
}
@media (max-width: 575.98px){
    #subscribeNow .email input{
        font-size: 10px;
    }
    #subscribeNow .content h2{
        font-size: 30px;
    }
    #subscribeNow .content p{
        font-size: 10px;
    }
    #subscribeNow .email .btn{
        width: 100px;
    }
}